.products-table {
    margin-top: 20px;
}

.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.tabs button.active-tab {
    background-color: #333;
    color: white;
    border: none;
}

.tab-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-details-tab h3,
.products-overview-tab h3 {
    margin-bottom: 20px;
    color: #333;
}

/* Table Styles */
.products-overview-tab table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Allow horizontal scrolling */
}

.products-overview-tab th, .products-overview-tab td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.products-overview-tab th {
    background-color: #333;
    color: white;
}

.products-overview-tab td button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.editproductData {
    color: #333;
}

.editproductData:hover {
    color: #999;
}

.deleteproductData {
    color: red;
}

.deleteproductData:hover {
    color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .products-overview-tab table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .products-overview-tab th, .products-overview-tab td {
        display: inline-block;
        text-align: left;
    }
}
